body{
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    overflow-y: visible;
}

main .center{
    padding:  200px 2%;
}

/*** msg de erro ***/
main .center > #err-msg{
    font-size: 28px;
    text-align: center;
    color: red;
    padding-bottom:  16px;
    display: none;
}

/*** inputs ***/
form input[type=radio]{
   display: none;
}  



label{
    width: 17px;  
    height: 17px;
    margin-right: 4px;
    background-color:  var(--white);
    border: 1px solid black;
    display: inline-block;
    cursor: pointer;
    position: relative;
} 

form input[type = "radio"]:checked + label{
    background-color: var(--orange);
    border:  2px solid var(--green);
    display: inline-block;
    background:  url("../img/check.svg") no-repeat center/cover,  var(--orange);
} 

/*** Text**/
.text{
    text-align: center;
    padding-top:  20px;
    padding-bottom:  20px;
    font-size:  30px;
    font-weight:  700;
    color:  var(--orange);
}

/** Section wraper **/
section.wraper{
    width:  100%;
    max-width:  450px;
    border: 2px solid var(--orange);
    border-radius: 8px;
    padding: 22px 2%;
    margin: 0 auto;
}

section.wraper h3{
    padding-bottom: 18px;
}

section form .resposta{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.paragrafo{
    width: 93%;
}

.paragrafo p{
    color: var(--orange);
}

.resposta:not(:last-of-type){
    margin-bottom:  14px;
}

/** Button **/
button{
    outline:  0;
    border: 1px solid var(--green);
    background-color:  var(--green-ligth);
    width:  100px;
    padding: 6px 0;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 18px;
    border-radius: 20px;
    transition: 0.6s;
}

button:hover{
    background-color: var(--green);
    color: red;
}

/***Início***/
section.bloco, section.res-final{
    width: 100%;
    max-width: 450px;
    height:  80%;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 20px;
    border:  1px solid black;
    border-radius:  15px;
    position: relative;
    background-color: rgba(245, 120, 66, 0.6);
} 

section.bloco > img{
    width: 100%;
    height: 100%;
   
}

section.bloco > button{
    position: absolute;
    top: 0;
    left:  0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/***Over***/
section.bloco.over .text h3{
    color: red;
}

/***Contador***/
#cont{
    color:  red;
    padding-top: 12px;
}

/*** Resultado final ***/
section.res-final h3{
    color:  var(--green-ligth);
}

section.res-final > img{
    width: 100%;
    height:  100%;
    opacity: 0.3;
}

section.res-final .text{
    position: absolute;
    top: 0;
    left: 0;
    top:  50%;
    width: 100%;
    transform: translateY(-50%);
}

section.res-final .text img{
    width:  80px;
    height: 80px;
}

/** Mediaqueries **/
@media screen and (max-width: 374px){
    .paragrafo{
        width:  91.7%;
    }
}

@media screen and (max-width: 550px){
    section.res-final .text h3{
        font-size:  25px;
    }

    section.bloco.over .text h3{
        color: red;
        font-size:  24px;
    }
}
